<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Dekla interface</title>
        <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
</head>
<body ng-app="hekateSketch">
        <script>
        angular.module('hekateSketch', [])
        .controller('HekateController', ['$scope', '$interval', '$http', '$templateCache',
        function($scope, $interval, $http, $templateCache)
        {
                var stop;
                $scope.doStuff = function()
                {
                        if ( angular.isDefined(stop) ) return;
                        stop = $interval(function()
                        {
                                $http({method: 'GET', url: 'http://localhost:8088/api/time'}).
                                then(function(response)
                                {
//                                         var current = document.getElementById("logger").value; 
                                        $scope.status = response.status;
//                                         $scope.data = current + "\n" + response.data;
//                                         document.getElementById("logger").value = = current + "\n" + response.data;
                                        $scope.logger += "\n"
                                        $scope.logger += response.data;
                                        
                                });
                        }, 100);
                };

// //         autostart:
//         $scope.doStuff();
        
                $scope.stopFight = function()
                {
                        if (angular.isDefined(stop))
                        {
                                $interval.cancel(stop);
                                stop = undefined;
                        }
                };

//         $scope.resetFight = function() {
//                 var data = {
//                         name: name,
//                         age: age,
//                         adress: adress
//                 };
//                 var url = 'http://localhost:8088/api/post', config='contenttype';
//                 $http.post(url, JSON.stringify(data)).then(function (response) {
//                 // This function handles success
//                 }, function (response) {
//                 // this function handles error
//                 });
//         };
                $scope.resetFight = function()
                {
                        var url = 'posturl', data = '{"a":"B"}',config='application/json ';
                        $http.post(url, data, config).then(function (response)
                        {
                                // This function handles success
                        }, function (response) {
                                // this function handles error
                        });
                };
                $scope.$on('$destroy', function()
                {
                        $scope.stopFight();
                });
        }]);
</script>

<div>
  <div ng-controller="HekateController">
    <table>
    <tbody>
    <tr>
        <td><button type="button" data-ng-click="doStuff()">Do stuff</button></td>
        <td>http response data: {{data}}</td>
    </tr>
    <tr>
        <td><button type="button" data-ng-click="stopFight()">StopFight</button></td>
        <td>http response data: {{data}}</td>
    </tr>
    <tr>
        <td><button type="button" data-ng-click="resetFight()">resetFight</button></td>
        <td>http response data: {{data}}</td>
    </tr>
    <tr>
        <td>
        <textarea id="textArea" rows="30" cols="50" ng-model="logger">
        Logging trial
        </textarea>
        </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>
</body>
</html>
